	<div class="carousel-item-list__image lazyload"
	     data-sizes="auto"
	     data-bgset="{{image}} 1x, {{image_2x}} 2x">
	</div>

	<div class="carousel-item-list__info">
		<div class="carousel-item-list__info-table">
			<div class="carousel-item-list__info-cell">
				<div class="carousel-item-list__subtitle">
					{{subtitle}}
				</div>
				<div class="carousel-item-list__title">
					{{title}}
				</div>

				<a href="{{action_url}}" class="action-btn">
					{{action}}
				</a>
			</div>
		</div>
	</div>
