<div class="company-item-list__link-container">
	<div class="company-item-list__link">
		<a href="{{website}}" class="company-item-list__image" title="{{name}}">
			<span class="company-item-list__link-cell">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
				     alt="{{name}}" width="100%" class="lazyload"
				     data-srcset="{{logo}} 1x, {{logo_2x}} 2x"
					/>
			</span>
		</a>
	</div>
</div>
